html {
    font-size: 10px;
}

body {
    background-color: #0B0811;
    color: white;
    overflow-x: hidden;
}

a {
    font-size: 1.9rem;
}

a, a:hover, button {
    text-decoration: none;
    font-family: 'Actay';
    color: white;
}

p {
    margin: 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    display: inline;
}

header {
    background: #4D3877;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.09) 0%, rgba(77, 56, 119, 0) 100%);
    backdrop-filter: blur(15px);
    padding-top: 24px;
    padding-bottom: 24px;
}

header .logo {
    font-family: 'Bounded';
    font-size: 2rem;
    line-height: 100%;
}

header .link {
    font-family: 'Actay';
    font-size: 1.9rem;
    color: #FFFFFF73;
}

a.link:hover, header .logo:hover {
    color: white;
    text-shadow: 0 0 20px #fff;
    transition: all 100ms ease-out;
}

header img.link:hover {
    filter: drop-shadow(0 0 20px #fff);
    transition: all 100ms ease-out;
}

.general {
    overflow: hidden;
}

h1, h2 {
    font-family: 'Bounded Bold';
    font-weight: 200;
    font-size: 16rem;
    z-index: 1;
    text-shadow: 0px 5px 23px #FFFFFF47;
}

.general__skin {
    right: -215px;
    top: -15px;
    pointer-events: none;
}

.general__sphere {
    border-radius: 50%;
    background: linear-gradient(113.9deg, #444EE1 12.16%, #0B0811 39.38%);
    width: 1119px;
    height: 1119px;
    opacity: 24%;
    z-index: 0;
    right: -50%;
}

.general__text {
    font-family: 'Bounded';
    font-weight: 400;
    font-size: 2rem;
    line-height: 42px;
    color: #444EE1C2;
    width: 43%;
    text-transform: uppercase;
    margin-top: 90px;
    margin-bottom: 143px;
}

.general__start {
    display:inline-block;
    font-size: 2.5rem;
    padding: 21px 45px;
    color: #EEE7FF;
    background: linear-gradient(94.52deg, #444EE1 0%, #132C97 100%);
    border-radius: 38px;
    width: auto;
    transition: all 100ms ease-out;
}

.general__start:hover {
    
    background: linear-gradient(94.52deg, #6D76F9 0%, #1F43DA 100%);
    box-shadow: 0px 0px 28.1px 0px #3D53F3;
    font-size: 2.5rem;
}

.general__desc {
    color: #FFFFFF40;
    font-size: 1.4rem;
    font-family: 'Actay';
    margin-top: 118px;
    margin-bottom: 130px;
}

.general__eclipse_1,.general__eclipse_2 {
    box-shadow: 0px 0px 107px 77px #4E4E4E57;
    border-radius: 120px;
}

.general__eclipse_1 {
    left: 50%;
    top: 20%;
}

.general__eclipse_2 {
    left: 3%;
    top: 56%;
}

.servers {
    padding-bottom: 146px;
    overflow-y: hidden;
}

.servers__total-online {
    background: linear-gradient(90.6deg, rgba(217, 217, 217, 0.33) 0.07%, rgba(115, 115, 115, 0.24) 135.1%);
    border: 1px solid #FFFFFF12;
    border-radius: 38px;
    width: 33%;
    margin-top: 6.6rem;
    padding: 16px
}

.servers__total-online > ul {
    margin: 0;
}

.servers__total-online_marker {
    position: relative;
    font-size: 1.5rem;
    font-family: 'Bounded';
}

.servers__total-online_marker::marker {
    color: transparent;
} 

.servers__total-online_marker::before {
    content: "•";
    position: absolute;
    line-height: 32px;
    top: -6px;
    left: -30px;
    font-size: 7.2rem;
    background: linear-gradient(122.01deg, #970404 -5.33%, rgba(129, 28, 28, 0.78) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.servers__total-online_marker.on::before {
    background: linear-gradient(122.01deg, #219704 -5.33%, rgba(49, 129, 28, 0.78) 100%);
    background-clip: text;
}

.servers__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    margin-top: 6.6rem;
    gap: 24px;

}

.servers__list .servers__total-online_marker {
    font-size: 1.3rem;
    color: #333390;
}

.servers__list .servers__total-online_marker::before {
    left: -15px;
    font-size: 3.2rem;
}

.servers__list .servers__total-online {
    margin-top: 22px;
    background: linear-gradient(100.49deg, #D9D9D9 2.79%, #7272C5 115.8%);
    display: inline-block;
    width: auto;
}

.servers__list .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #333390;
    border-radius: 38px;
    box-shadow: 0px 4px 41.8px 0px #242466;
}

.servers__list .card:hover {
    background: linear-gradient(100.17deg, #5A5AF0 -10.19%, #2D2D8D 98.6%);
}

.card h5 {
    font-size: 4rem;
    font-family: 'Bounded';
    font-weight: 900;
    line-height: 100%;
}

.card p {
    font-size: 1.5rem;
    color: #FFFFFFC2;
    font-family: 'Bounded';
    font-weight: 400;
    line-height: 100%;
    height: 80px;
    margin: 0;
}

.servers__list .card_info {
    padding: 24px 0px 0px 19px;
}

.servers__list .card img {
    margin-left: auto;
}

.servers__list .servers__total-online > ul {
    margin: 0;
    padding-left: 1rem;
}

.servers .general__sphere, .main__sphere {
    border-radius: 50%;
    background: linear-gradient(166.44deg, #444EE1 9.26%, #0B0811 55.02%);
    width: 1623px;
    height: 1623px;
    opacity: 24%;
    z-index: -1;
    left: -42%;
    top: -35px;
}

.servers .general__eclipse_1 {
    left: 8%;
    top: 10%;
    z-index: -1;
}

.servers .general__eclipse_2 {
    right: -100%;
    top: 50%;
    box-shadow: 0px 0px 400px 200px #181840AD;
    border-radius: 120px;
    z-index: -1;
}

.shop__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    gap: 41px 44px;
}

.shop__list .card {
    background: linear-gradient(206.95deg, #4848CC 4.79%, #242466 133.14%);
    border: 1px solid #FFFFFF21;
    text-align: center;
    height: 250px;
    padding: 25px 19px 12px 19px;
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 100ms ease-out;

}

.shop__list .card_buy {
    width: 100%;
    appearance: none;
    background: linear-gradient(272.12deg, rgba(36, 132, 12, 0.44) -58.55%, rgba(51, 255, 0, 0.44) 95.07%);
    color: white;
    box-shadow: 0px 0px 11.5px 0px #2B6544;
    font-size: 1.8rem;
    font-family: 'Bounded';
    border-radius: 38px;
    border: 0;
    padding: 2px 0 5px 0;
    transition: all 100ms ease-out;
}

.shop__list .card p {
    font-size: 1.8rem;
    font-family: 'Actay';
    margin-top: 19px;
}

.shop__list .card h5 {
    font-size: 3.2rem;
    font-weight: 900;
    font-family: 'Bounded';
}

.shop__list .card:hover {
    background: linear-gradient(191.2deg, #5A5AF0 4.08%, #2D2D8D 145.5%);
    box-shadow: 0px 4px 83.1px 0px #2C2C86;
}

.shop__list .card_buy:hover {
    background: linear-gradient(272.12deg, rgba(36, 132, 12, 0.57) -58.55%, rgba(0, 255, 0, 0.57) 95.07%);
}

.shop .general__sphere {
    border-radius: 50%;
    background: linear-gradient(172.38deg, #0B0811 31.72%, #444EE1 79.17%);
    width: 1623px;
    height: 1623px;
    opacity: 24%;
    z-index: -1;
    left: -50%;
    top: -90%;
}

.shop .general__eclipse_2 {
    right: -100%;
    top: 90%;
    box-shadow: 0px 0px 400px 200px #181840AD;
    border-radius: 120px;
}

.shop {
    overflow: hidden;
    padding-bottom: 151px;
}

.shop__desc {
    font-family: 'Bounded';
    font-weight: 400;
    font-size: 32px;
    text-shadow: 0px 5px 23px 0px #FFFFFF47;
    margin: 0;
}

.shop__server_title {
    font-family: 'Bounded';
    font-weight: 600;
    font-size: 48px;
    text-shadow: 0px 5px 23px 0px #FFFFFF47;
    margin: 50px 0;
}

.shop__balance {
    margin-top: 50px;
}

.gray-back {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.24) -16.06%, rgba(115, 115, 115, 0) 107.4%);
    border-radius: 38px;
    padding: 9px 13px;
}

.gray-back.big {
    padding: 11px 13px;
}

.invalid {
    border: 1px solid red;
}

footer {
    margin-top: auto;
    background-color: #0B0811;
    padding-top: 45px;
    padding-bottom: 39px;
}

footer * {
    font-family: "Actay";
    font-weight: 700;
    color: #FFFFFFBA;
}

footer h5 {
    font-size: 48px;
    margin-bottom: 15px;
}

footer a {
    display: block;
    font-size: 24px;
}

footer a.mini {
    font-size: 16px;
}

footer p {
    color: #FFFFFF5C;
    font-size: 11px;
}

footer .row:nth-child(1) {
    margin-bottom: 30px;
}

footer .row:nth-child(2) {
    margin-bottom: 15px;
}

.instruction {
    padding-top: 169px;
    padding-bottom: 151px;
}

.instruction h1 {
    font-size: 105px;
    margin-bottom: 95px;
}

.main__sphere {
    top: -200px;
    background: linear-gradient(113.9deg, #444EE1 12.16%, #0B0811 39.38%);
}

.instruction .counter {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.24) -16.06%, rgba(115, 115, 115, 0) 107.4%);
    border: 1px solid #FFFFFF4A;
    padding: 24px 72px 40px 72px;
    border-radius: 38px;
}

.instruction h5, .registration h1 {
    font-family: 'Actay';
    font-weight: 700;
    font-size: 36px;
}

.instruction__desc {
    font-family: 'Actay';
    font-weight: 700;
    margin-top: 34px;
    margin-bottom: 30px;
    font-size: 15px;
}

.instruction a.button:hover {
    background: linear-gradient(100.17deg, rgba(126, 126, 255, 0.27) -10.19%, rgba(77, 77, 255, 0.8) 98.6%);
    box-shadow: 0px 0px 66px 0px #5454C1;
    transition: all 100ms ease-out;
}

.registration form {
    padding: 34px 45px 61px 28px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.24) -16.06%, rgba(115, 115, 115, 0) 107.4%);
    border-radius: 38px;
}

.registration input {
    color: white;
    appearance: none;
    margin-top: 26px;
    display: block;
    padding: 9px 9px 9px 29px;
    width: 100%;
    font-size: 15px;
    font-family: 'Actay';
    font-weight: 400;
    background: linear-gradient(89.99deg, rgba(118, 118, 118, 0.31) -16.05%, rgba(255, 255, 255, 0) 191.26%);
    box-shadow: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004D;
    border-radius: 38px;
}

.registration input:focus {
    outline: none;
    box-shadow: 0px 4px 4px 0px #0000004D, 0px 8px 12px 6px #00000026;
}

.button {
    appearance: none !important;
    border: 1px solid #FFFFFF24;
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 86.1px 0px #3D3D87;
    background: linear-gradient(100.17deg, rgba(90, 90, 240, 0.27) -10.19%, rgba(45, 45, 141, 0.8) 98.6%);
    padding: 7px 0;
    border-radius: 38px;
    font-size: 24px;
    font-family: 'Actay';
    font-weight: 700;
    transition: all 100ms ease-out;
    display: block;
    margin: 0 auto;
}

a.button {
    border: 1px solid #FFFFFF24;
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 86.1px 0px #3D3D87;
    background: linear-gradient(100.17deg, rgba(90, 90, 240, 0.27) -10.19%, rgba(45, 45, 141, 0.8) 98.6%);
    text-align: center;
    padding: 7px 0;
    border-radius: 38px;
    font-size: 32px;
    font-family: 'Actay';
    font-weight: 700;
    transition: all 100ms ease-out;
}

.button:hover {
    background: linear-gradient(100.17deg, rgba(126, 126, 255, 0.27) -10.19%, rgba(77, 77, 255, 0.8) 98.6%);
    box-shadow: 0px 0px 66px 0px #5454C1;
    transition: all 100ms ease-out;
}

.registration a {
    display: inline-block;
    font-family: 'Bounded';
    font-weight: 400;
    font-size: 13px;
    margin: 12px 0 41px 0;
    color: #FFFFFF61;
}

.registration {
    padding-top: 140px;
    padding-bottom: 151px;
    overflow: hidden;
}

.cabinet__character {
    height: 404px;
}

.cabinet__nickname {
    font-family: 'Bounded';
    font-weight: 400;
    font-size: 16px;
}

.button.mini {
    padding: 5px 0;
    font-family: 'Bounded';
    font-weight: 400;
    font-size: 20px;
}

.red.button {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.45) -16.06%, rgba(115, 115, 115, 0) 107.4%);
    border: 0;
    box-shadow: none;
    transition: all 100ms ease-out;
}

.cabinet {
    overflow: hidden;
    padding-bottom: 151px;
}

.cabinet .main__sphere {
    left: -300px;
}

.button.gray {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.24) -16.06%, rgba(115, 115, 115, 0) 107.4%);
    border: 0;
    box-shadow: none;
    transition: all 100ms ease-out;
}

.button.gray:hover {
    background: linear-gradient(90.6deg, rgba(217, 217, 217, 0.92) 0.07%, rgba(115, 115, 115, 0.52) 135.1%);
    box-shadow: 0px 0px 20.4px 0px #FFFFFF54;
    transition: all 100ms ease-out;
}

.button.red:hover {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.774) -16.06%, rgba(161, 161, 161, 0.199) 107.4%);
    box-shadow: 0px 0px 20.4px 0px #c5040477;
    transition: all 100ms ease-out;
}

.cabinet__desc {
    font-size: 20px;
    font-family: 'Bounded';
    font-weight: 400;
    text-shadow: 0px 5px 23px 0px #FFFFFF47;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
font-size: 0;
opacity: 0;
}

.shop__modal .modal-content {
    height: 500px;
}

.shop__modal h3 {
    font-family: "Actay";
    font-weight: 700;
    font-size: 36px;
}

.shop__modal p {
    font-family: "Actay";
    font-weight: 700;
    font-size: 20px;
}

.shop__modal .counter {
    background: linear-gradient(90deg, rgba(48, 47, 47, 0.89) -16.06%, rgba(115, 115, 115, 0.4) 107.4%);
    border: 1px solid #FFFFFF4A;
    padding: 24px 72px 40px 72px;
    border-radius: 38px;
}