{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'index/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <link rel="stylesheet" href="{% static 'index/media.css' %}">
    <link rel="icon" href="{% static 'index/img/icon.svg' %}" type="image/svg+xml">
</head>
<body>
    <header>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto row">
                    <div class="col-auto"><a href="/" class="logo">Aevorium</a></div>
                    <div class="col-auto"><a href="/" class="link">Главная</a></div>
                    <div class="col-auto"><a href="#servers" class="link">Серверы</a></div>
                    <div class="col-auto"><a href="shop" class="link">Магазин</a></div>
                    <div class="col-auto"><a href="" class="link">Личный кабинет</a></div>
                </div>
                <div class="col-auto row">
                    <div class="col-auto">
                        <a href="https://vk.com/aevorium"><img class="link" src="{% static 'index/img/vk.png' %}" alt=""></a>
                    </div>
                    <div class="col-auto">
                        <a href="https://t.me/aevorium_news"><img class="link" src="{% static 'index/img/tg.png' %}" alt=""></a>
                    </div>
                    <div class="col-auto">
                        <a href=""><img class="link" src="{% static 'index/img/tt.png' %}" alt=""></a>
                    </div>
                    <div class="col-auto">
                        <a href=""><img class="link" src="{% static 'index/img/yt.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {%endblock%}
</body>
</html>