{% extends "index/layout.html" %}

{% block title %}Вход{% endblock %}

{% block content %}

<div class="registration">
    <div class="container relative">
        <div class="main__figures">
            <div class="absolute main__sphere"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <form action="login" method="POST">
                    <h1>Вход</h1>
                    {% csrf_token %}
                    <input type="text" name="login" id="" placeholder="Игровой никнейм/почта">
                    <input type="password" name="password" id="" placeholder="Пароль">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <a href="registration" class="link">У меня нет аккаунта</a>
                        </div>
                        <div class="col-auto">
                            <a href="forgot-password" class="link">Забыл пароль</a>
                        </div>
                    </div>
                    <button type="submit" class="button w-75">Войти</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}