{% extends "index/layout.html" %}

{% block title %}Восстановление{% endblock %}

{% block content %}

<div class="registration">
    <div class="container relative">
        <div class="main__figures">
            <div class="absolute main__sphere"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <form action="login" method="POST">
                    <h1>Восстановление</h1>
                    {% csrf_token %}
                    <input type="password" name="password" id="" placeholder="Новый пароль">
                    <input type="password" name="repeat" id="" placeholder="Повторите новый пароль">
                    <button type="submit" class="button w-75 mt-5">Восстановить</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}