{% extends "index/layout.html" %}

{% block title %}Магазин{% endblock %}

{% block content %}

<div class="shop">
    <div class="container relative">
        <div class="shop__figures">
            <div class="absolute general__sphere"></div>
            <div class="absolute general__eclipse_1"></div>
            <div class="absolute general__eclipse_2"></div>
        </div>
        <h2>Магазин</h2>
        <p class="shop__desc">Покупайте привилегии, чтобы<br>развиваться быстрее</p>
        <div class="row shop__balance">
            <div class="col-3"><a href="deposit" class="button">Пополнить</a></div>
            <div class="col-6">
                <div class="row gray-back">
                    <div class="col-6"><p class="shop__desc">Ваш баланс:</p></div>
                    <div class="col-6"><p class="shop__desc text-end">10000000₽</p></div>
                </div>
            </div>
        </div>
        <div class="shop__server">
            <h3 class="shop__server_title">Aevum RP</h3>
            <div class="shop__list">
                <div class="card">
                    <div>
                        <h5>Название</h5>
                        <p>Описание писанием пиписание с воцво вцвоцо воц ззэщо зощэзощ ощз ощззщо ввцвв цвзщцв зщлцв.</p>
                    </div>
                    <button class="card_buy">купить</button>
                </div>
                <div class="card">
                    <div>
                        <h5>Название</h5>
                        <p>Описание писанием пиписание с воцво вцвоцо воц ззэщо зощэзощ ощз ощззщо ввцвв цвзщцв зщлцв.</p>
                    </div>
                    <button class="card_buy">купить</button>
                </div>
                <div class="card">
                    <div>
                        <h5>Название</h5>
                        <p>Описание писанием пиписание с воцво вцвоцо воц ззэщо зощэзощ ощз ощззщо ввцвв цвзщцв зщлцв.</p>
                    </div>
                    <button class="card_buy">купить</button>
                </div>
                <div class="card">
                    <div>
                        <h5>Название</h5>
                        <p>Описание писанием пиписание с воцво вцвоцо воц ззэщо зощэзощ ощз ощззщо ввцвв цвзщцв зщлцв.</p>
                    </div>
                    <button class="card_buy">купить</button>
                </div>
                <div class="card">
                    <div>
                        <h5>Название</h5>
                        <p>Описание писанием пиписание с воцво вцвоцо воц ззэщо зощэзощ ощз ощззщо ввцвв цвзщцв зщлцв.</p>
                    </div>
                    <button class="card_buy">купить</button>
                </div>
                <div class="card">
                    <div>
                        <h5>Название</h5>
                        <p>Описание писанием пиписание с воцво вцвоцо воц ззэщо зощэзощ ощз ощззщо ввцвв цвзщцв зщлцв.</p>
                    </div>
                    <button class="card_buy">купить</button>
                </div>
                <div class="card">
                    <div>
                        <h5>Название</h5>
                        <p>Описание писанием пиписание с воцво вцвоцо воц ззэщо зощэзощ ощз ощззщо ввцвв цвзщцв зщлцв.</p>
                    </div>
                    <button class="card_buy">купить</button>
                </div>
                <div class="card">
                    <div>
                        <h5>Название</h5>
                        <p>Описание писанием пиписание с воцво вцвоцо воц ззэщо зощэзощ ощз ощззщо ввцвв цвзщцв зщлцв.</p>
                    </div>
                    <button class="card_buy">купить</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}