{% extends "index/layout.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<div class="shop">
    <div class="container relative">
        <div class="shop__figures">
            <div class="absolute general__sphere"></div>
            <div class="absolute general__eclipse_1"></div>
            <div class="absolute general__eclipse_2"></div>
        </div>
        <h2>Магазин</h2>
        <div class="shop__list">
            <div class="card">
                <div>
                    <h5>Название</h5>
                    <p>Описание писанием пиписание с воцво вцвоцо воц ззэщо зощэзощ ощз ощззщо ввцвв цвзщцв зщлцв.</p>
                </div>
                <button class="card_buy">купить</button>
            </div>
            <div class="card">
                <div>
                    <h5>Название</h5>
                    <p>Описание писанием пиписание с воцво вцвоцо воц ззэщо зощэзощ ощз ощззщо ввцвв цвзщцв зщлцв.</p>
                </div>
                <button class="card_buy">купить</button>
            </div>
            <div class="card">
                <div>
                    <h5>Название</h5>
                    <p>Описание писанием пиписание с воцво вцвоцо воц ззэщо зощэзощ ощз ощззщо ввцвв цвзщцв зщлцв.</p>
                </div>
                <button class="card_buy">купить</button>
            </div>
            <div class="card">
                <div>
                    <h5>Название</h5>
                    <p>Описание писанием пиписание с воцво вцвоцо воц ззэщо зощэзощ ощз ощззщо ввцвв цвзщцв зщлцв.</p>
                </div>
                <button class="card_buy">купить</button>
            </div>
            <div class="card">
                <div>
                    <h5>Название</h5>
                    <p>Описание писанием пиписание с воцво вцвоцо воц ззэщо зощэзощ ощз ощззщо ввцвв цвзщцв зщлцв.</p>
                </div>
                <button class="card_buy">купить</button>
            </div>
            <div class="card">
                <div>
                    <h5>Название</h5>
                    <p>Описание писанием пиписание с воцво вцвоцо воц ззэщо зощэзощ ощз ощззщо ввцвв цвзщцв зщлцв.</p>
                </div>
                <button class="card_buy">купить</button>
            </div>
            <div class="card">
                <div>
                    <h5>Название</h5>
                    <p>Описание писанием пиписание с воцво вцвоцо воц ззэщо зощэзощ ощз ощззщо ввцвв цвзщцв зщлцв.</p>
                </div>
                <button class="card_buy">купить</button>
            </div>
            <div class="card">
                <div>
                    <h5>Название</h5>
                    <p>Описание писанием пиписание с воцво вцвоцо воц ззэщо зощэзощ ощз ощззщо ввцвв цвзщцв зщлцв.</p>
                </div>
                <button class="card_buy">купить</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}